include LICENSE
include README.md
include requirements.txt
recursive-include schwab_trader/templates *
recursive-include schwab_trader/static *
recursive-include schwab_trader/config *
recursive-include schwab_trader/migrations * 